<div class="header-title">
    <a href="{{url_for('home')}}">
        The Brainrot Wiki
    </a>
</div>
<div class="search-container">
    <input type="text" class="search-box" placeholder="Search our database" autocomplete="off">
    <button class="search-button">
        <box-icon name='search' color='#aaaaaa' ></box-icon>
    </button>
    <div class="search-results"></div>
</div>  
<nav class="nav-bar">
    <a href="{{url_for('home')}}">Home</a>
    <a href="{{url_for('characters')}}">Characters</a>
    <a href="{{url_for('author')}}">Author</a>

</nav>
